/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#e0e4ef;
    
    padding: 30px 30px;
    font-size: 20px;
}
.logo a {
    text-decoration: none;
    color:#092050;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    
    color:#092050;
    font-size: 20px;
    font-weight: 600;
    transition: all .3s ease;
}

/* Mobile menu styles */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color:#fff;
        position: absolute;
        top: 80px;
        left: 0px;
    }

    .nav-links.active {
        display: flex;
    }
    .nav-links a{
        font-size: 18px;
    }
    .nav-links a:hover {
        background-color: #e0e4ef;
       
        text-decoration: solid;
        text-align: center;
    }
    .nav-links li {
        margin: 8px 0;
    }
}
/* port */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.left1 {
    flex: 1;
    padding: 20px;
   max-height: 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    
}

.ssk{
    font-size: 20px;
    line-height: -800px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}

.right {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 60vw;
      max-height: 80vh;
      margin-left: 30px;
      margin-top: -10px;
}

.sum {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 20px;
    background-color:rgb(232, 183, 93);
    color: #fff;
    text-decoration: none;
    border-radius: 9px;
    font-size: 20px;
    margin-top: 50px;
    
}

@media screen and (max-width: 768px) {
    .left1 {
        flex: 1;
        padding: 20px;
       max-height: 100%;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    h1{
        text-align: center;
        font-size: 30px;
        
    }
    .right {
        flex: 1;
        text-align: center;
    }
    
    .image img {
        max-width: 80%;
          max-height: 50%;
    }
    
    .sum {
        display: inline-block;
    margin-top: 10px;
    padding: 18px 20px;
    background-color:rgb(232, 183, 93);
    color: #fff;
    text-decoration: none;
    border-radius: 9px;
    font-size: 18px;
}
    .main {
        flex-direction: column;
    }
    .left1 {
        margin-bottom: 20px;
    }
}

/* Add more responsive styles as needed */
.about-container {
    background-color: #f0f0f0;
    padding: 20px;
   
}

/* .main1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.left {
  
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.right {
    flex: 1;
    text-align: center;
}

/* Default styles for larger screens */
.num {
    font-size: 36px;
    margin-bottom: 20px;
    color: #092050;
}

.h1 {
    font-size: 24px;
}

.g {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
}
#p{
    text-align: center;
    text-decoration: dashed;
    padding: 10px 20px;
    margin-left: 45%;
    font-size: 30px;
    
}
h3{
    text-align: center;
    font-size: 30px;
}
.m {
    font-size: 18px;
    text-align: center;
}


@media screen and (max-width: 992px) {
    .num {
        font-size: 28px;
    }

    .h1 {
        font-size: 20px;
    }

    .g {
        font-size: 16px;
    }

    .m {
        font-size: 14px;
    }
    .main1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .main1 {
        flex-direction: column;
        max-width: 95%;
        max-height: 100%;
    }
   

    .left {
        margin-bottom: 20px;
    }

    .num {
        font-size: 28px;
    }

    .h1 {
        font-size: 18px;
    }

    .g {
        font-size: 18px;
    }

    .m {
        font-size: 18px;
    }
    #p{
        margin-left: 40%;
    }
   

}

@media screen and (max-width: 480px) {
    .num {
        font-size: 20px;
    }

    .h1 {
        font-size: 16px;
    }

    .g {
        font-size: 18px;
    }

    .m {
        font-size: 15px;
    }
    #p{
        margin-left: 30%;
    }
    .main1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        max-width: 95%;
    }
}

@media screen and (max-width: 380px) {
    .num {
        font-size: 40px;
    }

   

    .g {
        font-size: 14px;
    }

    .m {
        font-size: 14px;
    }
    #p{
        margin-left: 40px;
    }
    .main1 {
        flex-direction: column;
        max-width: 95%;
    }
}

/* Add more media queries and adjust styles as needed */
